# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Django
db.sqlite3
*.log
local_settings.py
media/
staticfiles/

# Coverage
.coverage
htmlcov/

# Environment variables
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
docker-compose*.yml
.dockerignore

# Node
node_modules/
npm-debug.log*

# OS
.DS_Store
Thumbs.db
