---
# Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: careerlift
  labels:
    app: careerlift
spec:
  replicas: 3
  selector:
    matchLabels:
      app: careerlift
  template:
    metadata:
      labels:
        app: careerlift
    spec:
      imagePullSecrets:
      - name: nexus-registry-credentials
      containers:
      - name: careerlift
        image: 127.0.0.1:30085/careerlift/careerlift-app:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi

        # --------------------------
        # Environment Variables
        # --------------------------
        env:
        - name: DEBUG
          value: "1"

        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: career-secret
              key: SECRET_KEY

        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: career-secret
              key: DB_NAME

        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: career-secret
              key: DB_USER

        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: career-secret
              key: DB_PASSWORD

        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: career-secret
              key: DB_HOST

        - name: DB_PORT
          valueFrom:
            secretKeyRef:
              name: career-secret
              key: DB_PORT

        # HEALTH PROBES
        livenessProbe:
          httpGet:
            path: /health/
            port: 8000
          initialDelaySeconds: 180
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3

        readinessProbe:
          httpGet:
            path: /health/
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3

        startupProbe:
          httpGet:
            path: /health/
            port: 8000
          failureThreshold: 30
          periodSeconds: 10

---
# Application Service
apiVersion: v1
kind: Service
metadata:
  name: careerlift-service
spec:
  type: LoadBalancer
  selector:
    app: careerlift
  ports:
  - port: 80
    targetPort: 8000

---
# Database Service (MySQL/MariaDB)
apiVersion: v1
kind: Service
metadata:
  name: careerlift-mysql
spec:
  ports:
  - port: 3306
  selector:
    app: careerlift

---
# Persistent Volume Claim for MySQL
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pv-claim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi

---
# Secret for Nexus registry credentials
apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: nexus-registry-credentials
data:
  .dockerconfigjson: e30K
